<div id="<%= dom_id stone %>">
  <p>
    <strong>Name:</strong>
    <%= stone.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= stone.price %>
  </p>

  <p>
    <strong>Jewel:</strong>
    <%= stone.jewel_id %>
  </p>

</div>
