<p style="color: green"><%= notice %></p>

<h1>Jewelers</h1>

<%= link_to "New jeweler", new_jeweler_path %>

<div id="jewelers">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @jewelers.each do |jeweler| %>
        <tr>
          <%= render jeweler %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
