<div id="<%= dom_id material %>">
  <p>
    <strong>Name:</strong>
    <%= material.name %>
  </p>

  <p>
    <strong>Base cost:</strong>
    <%= material.base_cost %>
  </p>

  <p>
    <strong>Jewel:</strong>
    <%= material.jewel.name %>
  </p>

</div>
